@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
        font-family: 'Open Sans', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #FF6827, #534DF7);
}
.modal_menu_content {
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    
}
.modal_menu_container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521); 
    -webkit-animation-name: animate_open;
    -webkit-animation-duration: 0.7s;
    z-index:2;
    position: absolute;
}
.close_left {
    z-index:-1;
    opacity:0;
    -webkit-animation-name: animate_close_left;
    -webkit-animation-duration: 0.7s;  
}
.close_down {
    z-index:-1;
    opacity:0;
    -webkit-animation-name: animate_close_down;
    -webkit-animation-duration: 0.7s;  
}
@-webkit-keyframes animate_open {
    from {top:-900px; opacity:0} 
    to {top:0; opacity:1}
}
@-webkit-keyframes animate_close_left {
    from {left:0; opacity:1} 
    to {left:-2000px; opacity:0}
}
@-webkit-keyframes animate_close_down{
    from {top:0; opacity:1} 
    to {top:900px; opacity:0}
}
.modal_menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.modal_menu_text {
    width: 400px;
    text-align: center;
    font-size: 24px;
    margin: auto;
    word-wrap: break-word;
}
.modal_menu_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.button_open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
}
.button_pop_up {
    text-align: center;  
    padding: 8px 70px;
    border: 0px;
    font-size: 26px;
    background-color: white;
    border-radius: 5px;
}
.button_pop_up:hover {
    background-color: #ff3b30;
    color: white;
    transition: 0.5s;
}
.button_close {
    padding: 6px 58px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #8B93A3;
    border-radius: 5px;
    background-color: white;
    color: #8B93A3; 
}
.button_close:hover {
    background-color: #8B93A3;
    color: white;
    transition: 0.5s;
}
.button_unistall {
    padding: 8px 50px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ff3b30;
    color: white;
    margin-left: 20px;
}
.button_unistall:hover {
    padding: 8px 56px;
    background-color: white;
    border: 2px solid #ff3b30;
    color: black;
    transition: 0.5s;
}
.modal_icon_warning {
    height: 150px;
    width: 150px;
}
.modal_icon_close {
    display: flex;
    margin: 15px 0 0 15px;
}

